@using DrReport.Models;
@model IEnumerable<DrReport.Models.DiagnosisTest>
@{
    ViewData["Title"] = "ReportIndex";
    Layout = "~/Views/Shared/_Laytout2.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <link href="~/Styles/Write Report/main.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top:30px">
        <div class=" input-group">
            <input type="hidden" id="txtValue" />
            <select class="myselect form-control" style="width:1000px;padding:4px" multiple></select>
            <div class="input-group-append">
                <form action="/WriteReport/AddTests">
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
        <!--========Multiple Select Script========-->
        <script>
            $(document).ready(function () {
                $(".myselect").select2({
                    placeholder: 'Add Diagnosis Tests, e.g Hemoglobin',
                    ajax: {
                        url: "/WriteReport/GetDiagnosisList",  /*controller action*/
                        dataType: "json",
                        data: function (params) {
                            return {
                                searchTerm: params.term
                            };
                        },
                        processResults: function (data, params) {
                            return {
                                results: data
                            };
                        }
                    }
                });
                $(".myselect").on("change", function () {
                    var Id = $(this).val();
                    $("#txtValue").val(Id);
                    var temp = $("#txtValue").val();
                    $.ajax({
                        type: "post",
                        dataType: "json",
                        url: "/WriteReport/GetSelectedTests?data=" + temp,
                    })
                });
            });
        </script>
    </div>
    <!--============ Start First Table ============-->
    <div class="container"
         style="margin-top:30px; border: 1px solid black; border-radius: 10px; font-size:large; font-family: Arial, Helvetica, sans-serif; ">
        <div class="row ">
            <div class="col" style="text-align: center; padding: 15px; font-size: x-large; font-weight: bold; ">
                @ViewBag.Data[7]
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding-bottom: 15px;">
                Doctor Name : @ViewBag.Data[4]
            </div>
            <div class="col" style="text-align: center; padding-bottom: 15px;">
                Request Date : @ViewBag.Data[5]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Patient Name : @ViewBag.Data[0]
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;padding-bottom: 15px; ">
                Email : @ViewBag.Data[1]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Reservation Date : @ViewBag.Data[6]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Age : @ViewBag.Data[2]  | Gender : @ViewBag.Data[3]
            </div>
        </div>

    </div>
    <!--============ Start Second Table ============-->
    <div class="container" style="margin-top:30px">
        <table class="table">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col"> Investigation</th>
                    <th scope="col"> Results</th>
                    <th scope="col"> Unit </th>
                    <th scope="col"> Reference Range</th>
                    <th scope="col"> Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <tr style="text-align: center;">
                            <td scope="col">@item.Name</td>
                            <td>Value</td>
                            <td>@item.Unit  </td>
                            <td>12 - 15</td>
                            <td>
                                <button style="background-color: white; border: none;">
                                    <img src="~/Styles/Write Report/cancel.png"
                                         width="25px" height="25px" alt="">
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <div class="input" style="text-align-last: center;margin:10px;">
            <button class="btn btn-primary btn-inline-end" type="button">Submit</button>
        </div>
    </div>
</body>
</html>