@using DrReport.Models;
@model IEnumerable<DrReport.Models.DtestDresult>
@{
    ViewData["Title"] = "ReportIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Diagnosis</title>
    <link href="~/Styles/SeeReport/main.css" rel="stylesheet" />
</head>
<body>

    <!--============ Start First Table ============-->
    <div class="container"
         style="margin-top:30px; border: 1px solid black; border-radius: 10px; font-size:large; font-family: Arial, Helvetica, sans-serif; ">
        <div class="row ">
            <div class="col" style="text-align: center; padding: 15px; font-size: x-large; font-weight: bold; ">
                @ViewBag.Data[7]
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center; padding-bottom: 15px;">
                Doctor Name : @ViewBag.Data[4]
            </div>
            <div class="col" style="text-align: center; padding-bottom: 15px;">
                Request Date : @ViewBag.Data[5]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Patient Name : @ViewBag.Data[0]
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align: center;padding-bottom: 15px; ">
                Email : @ViewBag.Data[1]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Reservation Date : @ViewBag.Data[6]
            </div>
            <div class="col" style="text-align: center;padding-bottom: 15px;">
                Age : @ViewBag.Data[2]  | Gender : @ViewBag.Data[3]
            </div>
        </div>

    </div>
    <!--============ Start Second Table ============-->
    <div class="container" style="margin-top:30px">
        <table class="table">
            <thead class="thead-light">
                <tr style="text-align: center;">
                    <th scope="col"> Investigation</th>
                    <th scope="col"> Results</th>
                    <th scope="col"> Unit </th>
                    <th scope="col"> Reference Range</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int x = 0;
                    foreach (var item in Model)
                    {
                        <tr style="text-align: center;">
                            <td scope="col">@item.Dtest.Name</td>
                            <td>@item.ResultValue</td>
                            <td>@item.Dtest.Unit</td>
                            <td>@ViewBag.Normals[x]</td>
                        </tr> 
                        x=x+1;
                    }

                }

            </tbody>
        </table>
    </div>
</body>
</html>